/*------------------------------------*\
    BUTTON
\*------------------------------------*/

.button {
    text-align:left /* center|right; default:left */
    height:36px;
    box-shadow:0 2px 0 0 #348327;
    border-radius:18px;
    background-color:#46b234;
}

.button span {
    font-family:Helvetica, 'Helvetica Neue', Arial, sans-serif;
    font-size: 18px;
    font-weight:bold;
    color:#fff;
}

/* :hover and .hover add two times -> editor required */
.button:hover {
    background-color: #52ce3d;
}

.button.hover {
    background-color: #52ce3d;
}
